/* CSS Document */

@font-face {
    font-family: "Robotobold";
    src: url("Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Robotomedium";
    src: url("Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Robotothin";
    src: url("Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Robotolight";
    src: url("Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand";
    src: url("Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

body {
    background-color: white;
    max-width: 777px;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a .fa-arrow-left {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #171717;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo a .fa-solid {
    margin-right: 0;
}

figure {
    display: flex;
    justify-content: center;
}

figure img {
    width: 75%;
    margin-left: -8%;
}

.logo {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
}

p {
    font-family: "Robotomedium", "sans-serif";
    padding-left: 15px;
}

.image img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.img {
    object-position: 0% 95%;
}

.note {
    height: 300px;
    object-position: 0% 65%;
}

.menu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(245, 245, 245);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -60px;
    position: relative;
    padding-bottom: 25%;
}

h1 {
    font-family: "Shrikhand", "sans-serif";
    font-size: 25px;
    margin: 7% 15% 3% 5%;
    width: 93%;
    display: flex;
    justify-content: space-between;
}

h1 .fa-regular {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: -20px;
}

h1 .fa-solid {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: transparent;
}

h1 .heart {
    min-width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: -35px;
    line-height: 1.7;
}

h1 .fa-regular:active {
    color: transparent;
}

h1 .fa-regular:hover {
    color: transparent;
}

h1 .fa-solid:hover {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari et Chrome */
}

h1.fa-solid:active {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari et Chrome */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.entree {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2% auto;
}

.plat {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2% auto;
}

.dessert {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2% auto;
}

h2 {
    font-family: "Robotothin", "sans-serif";
    font-size: 16px;
    margin: 1% 4%;
    color: #606060;
    width: 93%;
}

.green-line {
    width: 11%;
    background-color: #99E2D0;
    height: 3px;
    margin: 0 4%;
}

.cadre {
    margin: 2% auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-content: center;
    width: 93%;
    box-shadow: #d7d7d7 0px 3px 4px 2px;
    height: 65px;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.check {
    background-color: #99E2D0;
    width: 0%;
    position: absolute;
    margin: 0 0 0 69.3%;
    box-shadow: none;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    border-radius: 0 15px 15px 0;
    opacity: 0;
}

.fa-circle-check {
    line-height: 2.5;
}

.cadre .check {
    display: block;
    right: 3%;
}

.cadre:hover .prix {
    -webkit-animation: shift 2s backwards;
    animation: shift 2s backwards;
}

.cadre:active .prix {
    -webkit-animation: shift 2s backwards;
    animation: shift 2s backwards;
}

@-webkit-keyframes shift {
    30% {
        margin-right: 30%;
    }
    70% {
        margin-right: 30%;
    }
}

@keyframes shift {
    30% {
        margin-right: 30%;
    }
    70% {
        margin-right: 30%;
    }
}

.cadre:hover .titre {
    opacity: 1;
    -webkit-animation: wrap 2s;
    animation: wrap 2s;
}

.cadre:active .titre {
    opacity: 1;
    -webkit-animation: wrap 2s backwards;
    animation: wrap 2s backwards;
}

@keyframes wrap {
    0% {
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    100% {
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@-webkit-keyframes wrap {
    0% {
        width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    100% {
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.cadre:hover .sous-titre {
    opacity: 1;
    -webkit-animation: wrap1 2s;
    animation: wrap1 2s;
}

.cadre:active .sous-titre {
    opacity: 1;
    -webkit-animation: wrap1 2s backwards;
    animation: wrap1 2s backwards;
}

@keyframes wrap1 {
    0% {
        width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    100% {
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@-webkit-keyframes wrap1 {
    0% {
        width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    100% {
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.cadre:hover .check {
    opacity: 1;
    -webkit-animation: slide-in 2s backwards;
    animation: slide-in 2s backwards;
}

.cadre:active .check {
    opacity: 1;
    -webkit-animation: slide-in 1s backwards;
    animation: slide-in 1s backwards;
}

@keyframes slide-in {
    0% {
        height: 55px;
    }
    1% {
        width: 2%;
        height: 65px;
    }
    30% {
        width: 20%;
    }
    70% {
        width: 20%;
    }
    99% {
        width: 2%;
        height: 65px;
    }
    100% {
        height: 55px;
    }
}

@-webkit-keyframes slide-in {
    0% {
        height: 55px;
    }
    1% {
        width: 2%;
        height: 65px;
    }
    30% {
        width: 20%;
    }
    70% {
        width: 20%;
    }
    99% {
        width: 2%;
        height: 65px;
    }
    100% {
        height: 55px;
    }
}

.check:hover .fa-circle-check {
    -webkit-animation: spin 600ms linear;
    animation: spin 600ms linear;
}

.check:active .fa-circle-check {
    -webkit-animation: spin 600ms linear;
    animation: spin 600ms linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(180deg);
        opacity: 1;
    }
    50% {
        -webkit-transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.cadre1 {
    -webkit-animation: 1800ms display-none-transition both;
    animation: 1800ms display-none-transition both;
}

.cadre2 {
    -webkit-animation: 2000ms display-none-transition both;
    animation: 2000ms display-none-transition both;
}

.cadre3 {
    -webkit-animation: 2200ms display-none-transition both;
    animation: 2200ms display-none-transition both;
}

.cadre4 {
    -webkit-animation: 2400ms display-none-transition both;
    animation: 2400ms display-none-transition both;
}

@-webkit-keyframes display-none-transition {
    0% {
        opacity: 0;
        margin-top: 4%;
    }
    25% {
        margin-top: 3%;
    }
    50% {
        margin-top: 2.5%;
    }
    75% {
        margin-top: 2.3%;
    }
    100% {
        opacity: 1;
    }
}

@keyframes display-none-transition {
    0% {
        opacity: 0;
        margin-top: 4%;
    }
    25% {
        margin-top: 3%;
    }
    50% {
        margin-top: 2.5%;
    }
    75% {
        margin-top: 2.3%;
    }
    100% {
        opacity: 1;
    }
}

.titre {
    font-family: "Robotobold", "sans-serif";
    font-size: 17px;
    margin: 1% 2%;
}

.sous-titre {
    font-family: "Robotolight", "sans-serif";
    font-size: 14px;
    margin: 1% 2%;
}

.prix {
    font-family: "Robotobold", "sans-serif";
    font-size: 15px;
    margin: -20px 2% 0 2%;
    text-align: right;
}

.menu button {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50px;
    background: linear-gradient(to bottom, #FF79DA 0, 8%, #9356DC 80%);
    border-style: none;
    border-radius: 50px;
    color: white;
    font-family: "Robotomedium", "sans-serif";
    font-size: 16px;
    cursor: pointer;
    box-shadow: #d7d7d7 0px 4px 5px 3px;
    margin-top: 10%;
}

.menu button:hover {
    background: linear-gradient(to bottom, #f8abe2 0, 8%, #ac8bd5 80%);
    box-shadow: #a5a5a5 0px 4px 5px 3px;
}

.menu button:active {
    background: linear-gradient(to bottom, #f8abe2 0, 8%, #ac8bd5 80%);
    box-shadow: #a5a5a5 0px 4px 5px 3px;
}

footer {
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0 0 5% 5%;
    margin: 0;
}

li {
    list-style-type: none;
    margin-bottom: 2px;
}

footer p {
    color: white;
    font-family: "Shrikhand", "sans-serif";
    padding: 2% 0 0 5%;
}

a {
    color: white;
    font-family: "Robotomedium", "sans-serif";
    font-size: 14px;
    text-decoration: none;
}

a .fa-solid {
    margin-right: 10px;
    width: 15px;
}

@media (max-width: 991px) {
    
    body{
        max-width: 991px;
    }

    .logo a .fa-solid {
        font-size: 30px;
    }

    .image img {
        height: 300px;
        object-position: 0% 65%;
    }

    h1 {
        font-size: 30px;
    }

    h1 .heart {
        margin-right: -65px;
    }

    h1 .fa-solid {
        font-size: 30px;
    }

    h1 .fa-regular {
        font-size: 30px;
        margin-right: -30px;
    }

    .cadre {
        height: 85px;
    }

    .titre {
        font-size: 22px;
    }

    .sous-titre {
        font-size: 16px;
        margin: 0 2% 1% 2%;
    }

    .fa-circle-check {
        line-height: 3.5;
    }

    .cadre:hover .check {
        opacity: 1;
        -webkit-animation: slide-in 2s backwards;
        animation: slide-in 2s backwards;
    }
    
    .cadre:active .check {
        opacity: 1;
        -webkit-animation: slide-in 1s backwards;
        animation: slide-in 1s backwards;
    }
    
    @keyframes slide-in {
        0% {
            height: 75px;
        }
        1% {
            width: 2%;
            height: 85px;
        }
        30% {
            width: 20%;
        }
        70% {
            width: 20%;
        }
        99% {
            width: 2%;
            height: 85px;
        }
        100% {
            height: 75px;
        }
    }
    
    @-webkit-keyframes slide-in {
        0% {
            height: 75px;
        }
        1% {
            width: 2%;
            height: 85px;
        }
        30% {
            width: 20%;
        }
        70% {
            width: 20%;
        }
        99% {
            width: 2%;
            height: 85px;
        }
        100% {
            height: 75px;
        }
    }

    .sous-titre {
        font-size: 20px;
    }

    .prix {
        font-size: 20px;
        margin: -25px 2% 0 2%;
    }

    .menu button {
        width: 310px;
        height: 70px;
        font-size: 25px;
    }

}

@media (min-width: 992px) {
    
    body{
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    .logo a .fa-solid {
        font-size: 30px;
    }

    h1 .heart {
        min-width: 20%;
    }

    .cadre {
        height: 85px;
    }

    .titre {
        font-size: 22px;
    }

    .sous-titre {
        font-size: 16px;
        margin: 0 2% 1% 2%;
    }

    .fa-circle-check {
        line-height: 3.5;
    }

    .cadre:hover .check {
        opacity: 1;
        -webkit-animation: slide-in 2s backwards;
        animation: slide-in 2s backwards;
    }
    
    .cadre:active .check {
        opacity: 1;
        -webkit-animation: slide-in 1s backwards;
        animation: slide-in 1s backwards;
    }
    
    @keyframes slide-in {
        0% {
            height: 75px;
        }
        1% {
            width: 2%;
            height: 85px;
        }
        30% {
            width: 20%;
        }
        70% {
            width: 20%;
        }
        99% {
            width: 2%;
            height: 85px;
        }
        100% {
            height: 75px;
        }
    }
    
    @-webkit-keyframes slide-in {
        0% {
            height: 75px;
        }
        1% {
            width: 2%;
            height: 85px;
        }
        30% {
            width: 20%;
        }
        70% {
            width: 20%;
        }
        99% {
            width: 2%;
            height: 85px;
        }
        100% {
            height: 75px;
        }
    }

    .image img {
        height: 300px;
        object-position: 0% 65%;
    }
    
}