/* CSS Document */

@font-face {
    font-family: "Robotobold";
    src: url("Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Robotomedium";
    src: url("Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Robotothin";
    src: url("Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Robotolight";
    src: url("Roboto/Roboto-Light.ttf") format("truetype");
}

body {
    background-color: white;
    max-width: 777px;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

figure {
    display: flex;
    justify-content: center;
}

figure img {
    width: 50%;
}

.logo {
    display: flex;
    justify-content: center;
}

.city {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #b6b6b6 0,3%, #e3e3e3 9%);
    height: 50px;
}

p {
    font-family: "Robotomedium", "sans-serif";
    padding-left: 15px;
}

.explore {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    align-items: center;
}

h1 {
    font-family: "Robotobold", "sans-serif";
    font-size: 25px;
    margin: 7% 15% 3% 15%;
    text-align: center;
}

h2 {
    font-family: "Robotothin", "sans-serif";
    font-size: 18px;
    margin: 0 5% 0 5%;
    text-align: center;
}

.explore button {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 15% 0;
    height: 50px;
    background: linear-gradient(to bottom, #FF79DA 0,8%, #9356DC 80%);
    border-style: none;
    border-radius: 50px;
    color: white;
    font-family: "Robotomedium", "sans-serif";
    font-size: 16px;
    cursor: pointer;
}
